@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* fix width of nav panel, it should be matching the width of the body */

nav { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
}

nav h2 {
    margin: 0;
    padding: 1em;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

nav a span {
    color: red;
}

.icon {
    margin-right: 5em;
}

nav a:hover {
    background-color: #666;
}

/* implement it correctly, for now put it at the bottom of the page to take care of later */

/* Desktop */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.column {
    flex-basis: calc(50% - 1em)
}

/* Mobile */

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }   

    .column {
        flex-basis: 100%;
    }

    /* Responsive navigation */

    .nav {
        display: none;
    }

    /* ????? */

    .burger {
        display:block
    }

    .burger-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 1em
    }

    .burger-menu a {
        display: block;
        padding: 1em;
        color: #fff;
        text-decoration: none;
    }
    
    .burger-menu a:hover {
        background-color: #666;
    }
    
    .burger:checked ~ .burger-menu {
        display: block;
    }

        /* Responsive font sizes */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 0.5em 1em;
    }
}

/* Next things to implement correctly, for now leave it as it is */

html {
    scroll-behavior: smooth;
}

button {
    background-color: #333;
    color: #fff;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #666;
}

button:focus {
    outline: none;
    background-color: #666;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

section {
    animation: slide-in 0.5s ease-in-out;
}

section {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
}

