@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /*smax-width: 1300px;*/
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #29323c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: 0.3s ease background-color;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

.navbar-logo a {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-logo span {
    color: #007bff;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin-left: 1rem;
}

.navbar-menu li a {
    font-size: 1rem;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #007bff;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.header {
    min-height: 100vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    text-align: center;
    color: #fff;
}

.header-title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.header-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.header-button {
    opacity: 0;
    animation: fade-in-animation 1s ease-in-out forwards;
    animation-delay: 1s;
    
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.header-title {
    opacity: 0;
    animation: fade-in-animation 1s ease-in-out forwards;
    background-color: rgba(0, 0, 0, 0.26);
}

.header-subtitle {
    opacity: 0;
    animation: fade-in-animation 1s ease-in-out forwards;
    animation-delay: 1s;
    background-color: rgba(0, 0, 0, 0.26);
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar-toggle span:last-child {
    margin-bottom: 0;
}

.section {
    padding: 4rem 0;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.section-content {
    max-width: 1300px;
    margin: 0 auto;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    width: calc(33.33% - 1rem);
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service:hover {
    transform: translateY(-5px);
}

.service-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.service-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.gallery-container {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image-container {
    flex-basis: 50%;
    width: calc(25% - 1rem);
}

.text-container {
    flex-basis: 50%;
    padding: 0 50px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-description {
    font-size: 16px;
    line-height: 1.5;
}

/*.gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-item {
    width: calc(25% - 1rem);
    margin-bottom: 2rem;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}*/

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
}

.form-group input[type="checkbox"] {
    margin-right: 0.5rem;
}

.form-group label[for="consent"] {
    font-size: 0.875rem;
    font-weight: 400;
}

.form-button {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 1rem;
}

.form-button:hover {
    background-color: #0069d9;
}

.footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .header {
        height: 100vh;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .menu {
        display: none;
    }

    nav .hamburger {
        display: block;
    }

    nav .hamburger.active .bar:first-child {
        transform: rotate(45deg) translate(5px, 5px);
    }

    nav .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    nav .hamburger.active .bar:last-child {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .header-button:hover {
        background-color: #0069d9;
    }



    .navbar-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }

    .navbar-menu li {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle span {
        transition: transform 0.3s ease;
    }

    .navbar-toggle.active span:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active span:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar-toggle.active+.navbar-menu {
        display: block;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .services-container {
        flex-wrap: wrap;
    }

    .service {
        width: 100%;
        margin-bottom: 2rem;
    }

    .gallery-item {
        width: calc(50% - 0.5rem);
    }

    .form-group {
        width: 100%;
    }

    nav .hamburger.active .bar {
        margin: 0;
    }

    nav .hamburger.active {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }

    nav .hamburger.active~.menu {
        display: block;
        position: fixed;
        top: 80px;
        right: 20px;
        background-color: #333;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav .hamburger.active~.menu li {
        margin: 10px 0;
    }

    nav .hamburger.active~.menu li:first-child {
        margin-top: 0;
    }

    nav .hamburger.active~.menu li:last-child {
        margin-bottom: 0;
    }

    nav .hamburger.active~.menu li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
}

h2 {
    position: relative;
    transition: all 0.3s ease-in-out;
}

h2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

h2:hover::before {
    transform: scaleX(1);
}